{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription sur le site</h1>
    {{form_start(form)}}
    {{form_row(form.username, {'label': 'Nom d\'utilisateur','attr':
    {'placeholder':'Nom d\'utilisateur...'}}) }}
    {{form_row(form.firstname, {'label': 'Prénom','attr':
    {'placeholder':'Prénom...'}}) }}
    {{form_row(form.lastname, {'label': 'Nom','attr':
    {'placeholder':'Nom...'}}) }}
    {{form_row(form.email, {'label': 'Email','attr':
    {'placeholder':'Email...'}}) }}
    {{form_row(form.password, {'label': 'Mot de passe','attr':
    {'placeholder':'Mot de passe...'}}) }}
    {{form_row(form.confirm_password, {'label': 'Confirmer mot de passe','attr':
    {'placeholder':'Retapez le mot de passe...'}}) }}
    {{form_row(form.phone, {'label': 'Numéro de téléphone','attr':
    {'placeholder':'Numéro de téléphone...'}}) }}
    {{form_row(form.address, {'label': 'Adresse','attr':
    {'placeholder':'Adresse...'}}) }}
    {{form_row(form.zip, {'label': 'Code postal','attr':
    {'placeholder':'Code postal...'}}) }}
    {{form_row(form.city, {'label': 'Ville','attr':
    {'placeholder':'Ville...'}}) }}
    {{form_row(form.wallet, {'label': 'Portefeuille (€)','attr':
    {'placeholder':'Votre montant...'}}) }}
    {{form_row(form.roles)}}
    <button type="submit" class"btn btn-success">Inscription</button>
    {{form_end(form)}}
{% endblock %}